.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.app-list-graph {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
body {
  background-color: rgb(29, 6, 155);
}
